body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
p{
    color: dimgray;
}
.banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left:7px solid;
    border-image:linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#junior-web{
    border-left:7px solid;
    border-image:linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;

}
footer{
    text-align: center;
    font-size: 12px;
}